/*
  devDependencies:
    "@typescript-eslint/eslint-plugin": "^2.33.0",
    "@typescript-eslint/parser": "^3.9.0",
    "eslint": "^6.3.0",
    "eslint-config-airbnb": "^18.0.1",
    "eslint-config-prettier": "^6.3.0",
    "eslint-plugin-import": "^2.16.0",
    "eslint-plugin-jsx-a11y": "^6.2.1",
    "eslint-plugin-prettier": "^3.0.1",
    "eslint-plugin-react": "^7.12.4",
    "eslint-plugin-react-hooks": "^4.0.2",

    yarn add -D @typescript-eslint/eslint-plugin@4.0.1 @typescript-eslint/parser@4.0.1 eslint eslint-config-airbnb eslint-config-prettier eslint-plugin-import eslint-plugin-jsx-a11y eslint-plugin-prettier eslint-plugin-react eslint-plugin-react-hooks
*/

{
  "parser": "@typescript-eslint/parser",
  //  "parser": "babel-eslint",
  "plugins": [
    "@typescript-eslint",
    // this ensures Don’t call Hooks inside loops, conditions, or nested functions. Instead, always use Hooks at the
    //top level of your React function. Pkg:  eslint-plugin-react-hooks
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        // this allows import files without extension specified
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts", ".json", ".svg", ".scss"],

        "moduleDirectory": ["node_modules"],
        "paths": ["."]
      }
    },
    // TODO: learn what this does
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    // note you must disable this base rule as it can report incorrect errors
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",

    // Solves: Missing file extension "ts" for "./styles"
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,

    // React hook rules required in docs: https://reactjs.org/docs/hooks-rules.html
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies

    // allow something like this <Comp {...this.props} />
    "react/jsx-props-no-spreading": "off",

    // Should always use double quote
    "quotes": ["error", "double"],

    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "react/state-in-constructor": "off",

    // No line break allowed around "="
    "operator-linebreak": ["error", "after", { "overrides": {
      "?": "before",
      ":": "before",
      "=": "none"
    } }],

    // blank line required between blocks
    "padding-line-between-statements": ["error",
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block-like" }, // block-like: e.g. { }, if (a) { }, and while (a)
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],

    // This rule aims to enforce consistent spacing before function parentheses for different type of functions
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],

    // This rule enforces consistent spacing inside braces of object literals, destructuring assignments, and
    // import/export specifiers.
    "object-curly-spacing": ["error", "always"],

    // Enforce semi-colon
    "semi": ["error", "always"],
    "import/prefer-default-export": "off",
    "lines-between-class-members": "off",

    // next-js handles this
    "react/react-in-jsx-scope": "off",

    // wordpress use underscore for some of its fields
    "no-underscore-dangle": "off",

    // Allowing <a> without href, <Link> from nextjs handle this
    "jsx-a11y/anchor-is-valid": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off" // This prevents undefined error for native type such as "boolean" in ts files
      }
    }
  ]
}
