$color-black: #111111;
$color-gray-0: #434343;
$color-gray-1: #8F8F8F;
$color-gray-2: #999999;
$color-gray-3: #E5E5E5;
$color-gray-4: #3E454C;

$color-title-1: #505050;

$color-light-gray: #BBBBBB;
$color-white: #FFFFFF;

$color-background-gray: #FAFAFA;

$color-ui-primary: #A161BF;
$color-modern-blue: #1DA7DA;
$color-soft-green: #52D58B;
$color-dark-soft-green: #4DD488;
$color-warm-orange: #F06E10;
$color-light-orange: #F1B236;

$color-pink: #EE185D;
$color-light-grey: #A6A6A6;
