$navigation-height: 90px;
$navigation-max-width: 1250px;

$heavy-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 300;
$light-font-weight: 300;

$xxx-large-font-size: 40px;
$xx-large-font-size: 24px;
$x-large-font-size: 18px;
$large-font-size: 16px;
$medium-font-size: 14px;
$small-font-size: 12px;

$title-1-font-size: $xx-large-font-size;
$title-2-font-size: $x-large-font-size;
$paragraph-font-size: $x-large-font-size;

$screen-medium: 820px;
$screen-large: 970px;
$post-content-max-width: 700px;

$ui-unit-small: 4px;
$ui-unit-normal: 8px;
$ui-unit-double: 16px;

$normal-line-height: 20px;