@import "src/styles/colors";
@import "src/styles/variables";
@import url('https://fonts.googleapis.com/css?family=Saira:300|Nunito:600&display=swap');

.Navigation {
  position: fixed;
  width: 100%;
  transition: .5s ease;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 90px;
  top: 0; // required for animation to work

  &--hidden {
    top: -90px;
  }

  &__container {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    top: 0;
    max-width: $navigation-max-width;
    position: relative;  // ** Required for child div with position: absolute to work
  }

  &__title {
    margin-left: 56px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  &__menu-entry {
    font-size: $large-font-size;
    font-family: "Saira", sans-serif;
    line-height: $normal-line-height;
    color: $color-gray-0;
    cursor: pointer;
    margin-right: 64px;

    &:hover {
      color: $color-black;
    }
  }

  &__menu-button {
    font-family: "Nunito", sans-serif;
    margin-right: 48px;
    padding: 8px 24px;
    background-color: #4DD488;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
      background-color: $color-black;
    }
  }

  &__menu-entry--active {
    color: #000000;
    font-weight: 600;
  }

  &__menu-slider {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: black;
    transition: .3s ease;
    display: none;
  }
}
